{{ define "main" }}
<!-- Page Header -->
<section class="page-header">
    <h1>{{ .Title }}</h1>
    {{ if .Description }}<p>{{ .Description }}</p>{{ end }}
</section>

<main class="main-content">
    <article class="content-page">
        {{ if .Params.image }}
        <img src="{{ .Params.image | relURL }}" alt="{{ if .Params.image_alt }}{{ .Params.image_alt }}{{ else }}{{ .Title }}{{ end }}" class="content-header-image">
        {{ end }}

        {{ if and (eq .Section "notas") .Date }}
        <div class="nota-meta">
            <span class="nota-meta-date">{{ .Date | time.Format "2 de January de 2006" }}</span>
            {{ with .Params.tags }}
            <div class="tags">
                {{ range . }}
                <span class="tag">{{ . }}</span>
                {{ end }}
            </div>
            {{ end }}
        </div>
        {{ end }}

        {{ .Content }}
    </article>
</main>
{{ end }}
