{{- $alt := .Params.image_alt | default (printf "Imagen ilustrativa de: %s" .Title) }}
{{- $tagStr := "" }}{{- with .Params.tags }}{{ $tagStr = delimit . "|" }}{{ end -}}
<article class="nota-card-img" data-search-tags="{{ $tagStr }}" {{ if .Params.image }}style="background-image: url('{{ .Params.image | relURL }}');"{{ end }}>
    <a href="{{ .RelPermalink }}" class="nota-card-img-link" aria-label="{{ .Title }}">
        <div class="nota-card-img-overlay"></div>
        <div class="nota-card-img-content">
            <div class="nota-card-img-date">{{ .Date | time.Format "2 Jan 2006" }}</div>
            <h3>{{ .Title }}</h3>

            <span class="nota-card-img-readmore">Seguir leyendo →</span>
        </div>
    </a>
</article>
